<html>

<head>
    <meta http-equiv=Content-Type content="text/html; charset=utf-8">
    <style>
        <!--
        /* Font Definitions */
        @font-face {
            font-family: Wingdings;
            panose-1: 5 0 0 0 0 0 0 0 0 0;
        }

        @font-face {
            font-family: "Cambria Math";
            panose-1: 2 4 5 3 5 4 6 3 2 4;
        }

        @font-face {
            font-family: Georgia;
            panose-1: 2 4 5 2 5 4 5 2 3 3;
        }

        @font-face {
            font-family: "Trebuchet MS";
            panose-1: 2 11 6 3 2 2 2 2 2 4;
        }

        @font-face {
            font-family: "Wingdings 2";
            panose-1: 5 2 1 2 1 5 7 7 7 7;
        }

        @font-face {
            font-family: Tahoma;
            panose-1: 2 11 6 4 3 5 4 4 2 4;
        }

        /* Style Definitions */
        p.MsoNormal,
        li.MsoNormal,
        div.MsoNormal {
            margin: 0cm;
            font-size: 12.0pt;
            font-family: "Times New Roman", serif;
        }

        h1 {
            margin: 0cm;
            text-align: justify;
            line-height: 150%;
            page-break-after: avoid;
            font-size: 12.0pt;
            font-family: "Trebuchet MS", sans-serif;
        }

        p.MsoBodyText2,
        li.MsoBodyText2,
        div.MsoBodyText2 {
            margin: 0cm;
            font-size: 12.0pt;
            font-family: "Trebuchet MS", sans-serif;
            font-weight: bold;
        }

        a:link,
        span.MsoHyperlink {
            color: blue;
            text-decoration: underline;
        }

        @page WordSection1 {
            size: 21.0cm 842.0pt;
            margin: 14.2pt 42.5pt 18.0pt 42.5pt;
        }

        div.WordSection1 {
            page: WordSection1;
        }

        /* List Definitions */
        ol {
            margin-bottom: 0cm;
        }

        ul {
            margin-bottom: 0cm;
        }
        -->
    </style>

</head>

<body lang=en-RO link=blue vlink="#954F72" style='word-wrap:break-word'>

    <div class=WordSection1>

        <p class=MsoNormal style='text-align:justify;line-height:12.0pt'><span lang=RO>&nbsp;</span></p>

        <p class=MsoNormal style='text-align:justify;line-height:115%'><span lang=RO>UNIVERSITATEA
                DIN BUCUREŞTI                               <b>Forma de finanțare:</b>      </span><b><span lang=RO
                    style='font-size:14.0pt;line-height:115%;font-family:"Wingdings 2"'></span><span lang=RO> buget/
                </span></b><b><span lang=RO style='font-size:14.0pt;line-height:
115%;font-family:"Wingdings 2"'></span><span lang=RO> taxă</span></b></p>

        <p class=MsoNormal style='text-align:justify;line-height:115%'><b><span lang=RO>Facultatea de Matematică și
                    Informatică                         </span></b><b><span lang=RO>Forma de învățământ</span></b><span
                lang=RO>:<b>  </b></span><b><span lang=RO
                    style='font-size:14.0pt;line-height:115%;font-family:"Wingdings 2"'></span><span lang=RO> IF
                    /</span></b><b><span lang=RO style='font-size:14.0pt;line-height:
115%;font-family:"Wingdings 2"'></span><span lang=RO> IFR /</span></b><b><span lang=RO
                    style='font-size:14.0pt;line-height:115%;font-family:"Wingdings 2"'></span><span lang=RO>
                    ID</span></b></p>

        <p class=MsoNormal style='text-align:justify;line-height:115%'><b><span lang=RO>Domeniul:
                    .........................................................</span></b></p>

        <p class=MsoNormal style='text-align:justify;line-height:115%'><b><span lang=RO>Programul de
                    studii</span></b><span lang=RO>: <b>............................................</b></span></p>

        <p class=MsoNormal style='text-align:justify;line-height:115%'><b><span lang=RO>Promoția:
                    ...............................</span></b></p>

        <p class=MsoBodyText2 align=right style='margin-left:111.6pt;text-align:right;
text-indent:-111.6pt;line-height:17.0pt'><span lang=RO style='font-family:"Times New Roman",serif'>Nr.
                Matricol .....……….…… Grupa ………..</span></p>

        <p class=MsoNormal align=right style='text-align:right;line-height:115%'><b><span lang=RO
                    style='font-size:8.0pt;line-height:115%'>&nbsp;</span></b></p>

        <p class=MsoNormal align=right style='text-align:right;line-height:115%'><b><span lang=RO>M.G. ………</span></b>
        </p>

        <p class=MsoNormal align=right style='text-align:right;line-height:115%'><span lang=RO>&nbsp;</span></p>

        <p class=MsoNormal align=center style='text-align:center;line-height:12.0pt'><b><span lang=RO>FIȘĂ DE
                    ÎNSCRIERE</span></b></p>

        <p class=MsoNormal align=center style='text-align:center;line-height:12.0pt'><b><span lang=RO>pentru examenul de
                    finalizare a studiilor (LICENȚĂ)</span></b></p>

        <p class=MsoNormal align=center style='text-align:center;line-height:12.0pt'><b><span lang=RO>sesiunea IULIE
                    2020</span></b></p>

        <h1><span lang=RO style='font-size:11.0pt;line-height:150%;font-family:"Times New Roman",serif'>Date
                personale</span></h1>

        <div align=center>

            <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=697 style='border-collapse:collapse'>
                <tr>
                    <td width=154 valign=top style='width:115.8pt;border:solid black 1.0pt;
  border-right:none;padding:0cm 5.4pt 0cm 5.4pt'>
                        <p class=MsoNormal><span lang=RO style='font-size:11.0pt'>Nume de familie la
                                naştere</span></p>
                    </td>
                    <td width=177 colspan=3 valign=top style='width:132.65pt;border:solid black 1.0pt;
  border-right:none;padding:0cm 5.4pt 0cm 5.4pt'>
                        <p class=MsoNormal style='layout-grid-mode:char'><span lang=RO style='font-size:11.0pt'>
                                <%= student.extra.birthLastName %>
                            </span></p>
                    </td>
                    <td width=107 valign=top style='width:80.4pt;border:solid black 1.0pt;
  border-right:none;padding:0cm 5.4pt 0cm 5.4pt'>
                        <p class=MsoNormal><span lang=RO style='font-size:11.0pt'>Nume de familie
                                actual</span></p>
                    </td>
                    <td width=259 colspan=2 valign=top style='width:194.15pt;border:solid black 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
                        <p class=MsoNormal style='layout-grid-mode:char'><span lang=RO
                                style='font-size:11.0pt'>
                                <%= student.user.lastName %>
                                </span></p>
                    </td>
                </tr>
                <tr>
                    <td width=154 valign=top style='width:115.8pt;border-top:none;border-left:
  solid black 1.0pt;border-bottom:solid black 1.0pt;border-right:none;
  padding:0cm 5.4pt 0cm 5.4pt'>
                        <p class=MsoNormal><span lang=RO style='font-size:11.0pt'>Prenume</span></p>
                    </td>
                    <td width=284 colspan=4 valign=top style='width:213.05pt;border-top:none;
  border-left:solid black 1.0pt;border-bottom:solid black 1.0pt;border-right:
  none;padding:0cm 5.4pt 0cm 5.4pt'>
                        <p class=MsoNormal style='layout-grid-mode:char'><span lang=RO
                                style='font-size:11.0pt'>
                                <%= student.user.firstName %>
                                </span></p>
                    </td>
                    <td width=154 valign=top style='width:115.2pt;border-top:none;border-left:
  solid black 1.0pt;border-bottom:solid black 1.0pt;border-right:none;
  padding:0cm 5.4pt 0cm 5.4pt'>
                        <p class=MsoNormal><span lang=RO style='font-size:11.0pt'>Iniţiala
                                tatălui/mamei</span></p>
                    </td>
                    <td width=105 valign=top style='width:78.95pt;border:solid black 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
                        <p class=MsoNormal style='layout-grid-mode:char'><span lang=RO style='font-size:11.0pt'>A</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width=154 valign=top style='width:115.8pt;border-top:none;border-left:
  solid black 1.0pt;border-bottom:solid black 1.0pt;border-right:none;
  padding:0cm 5.4pt 0cm 5.4pt'>
                        <p class=MsoNormal><span lang=RO style='font-size:11.0pt'>Fiul/Fiica lui</span></p>
                    </td>
                    <td width=177 colspan=3 valign=top style='width:132.65pt;border-top:none;
  border-left:solid black 1.0pt;border-bottom:solid black 1.0pt;border-right:
  none;padding:0cm 5.4pt 0cm 5.4pt'>
                        <p class=MsoNormal style='layout-grid-mode:char'><span lang=RO
                                style='font-size:11.0pt'>&nbsp;</span></p>
                    </td>
                    <td width=107 valign=top style='width:80.4pt;border-top:none;border-left:
  solid black 1.0pt;border-bottom:solid black 1.0pt;border-right:none;
  padding:0cm 5.4pt 0cm 5.4pt'>
                        <p class=MsoNormal style='layout-grid-mode:char'><span lang=RO
                                style='font-size:11.0pt'>şi</span></p>
                    </td>
                    <td width=259 colspan=2 valign=top style='width:194.15pt;border:solid black 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
                        <p class=MsoNormal style='layout-grid-mode:char'><span lang=RO
                                style='font-size:11.0pt'>&nbsp;</span></p>
                    </td>
                </tr>
                <tr>
                    <td width=154 valign=top style='width:115.8pt;border-top:none;border-left:
  solid black 1.0pt;border-bottom:solid black 1.0pt;border-right:none;
  padding:0cm 5.4pt 0cm 5.4pt'>
                        <p class=MsoNormal><span lang=RO style='font-size:11.0pt'>Data naşterii</span></p>
                    </td>
                    <td width=177 colspan=3 valign=top style='width:132.65pt;border-top:none;
  border-left:solid black 1.0pt;border-bottom:solid black 1.0pt;border-right:
  none;padding:0cm 5.4pt 0cm 5.4pt'>
                        <p class=MsoNormal style='layout-grid-mode:char'><span lang=RO
                                style='font-size:11.0pt'>&nbsp;</span></p>
                    </td>
                    <td width=107 valign=top style='width:80.4pt;border-top:none;border-left:
  solid black 1.0pt;border-bottom:solid black 1.0pt;border-right:none;
  padding:0cm 5.4pt 0cm 5.4pt'>
                        <p class=MsoNormal style='layout-grid-mode:char'><span lang=RO style='font-size:11.0pt'>Stare
                                civilă</span></p>
                    </td>
                    <td width=259 colspan=2 valign=top style='width:194.15pt;border:solid black 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
                        <p class=MsoNormal style='layout-grid-mode:char'><span lang=RO
                                style='font-size:11.0pt'>&nbsp;</span></p>
                    </td>
                </tr>
                <tr>
                    <td width=154 valign=top style='width:115.8pt;border-top:none;border-left:
  solid black 1.0pt;border-bottom:solid black 1.0pt;border-right:none;
  padding:0cm 5.4pt 0cm 5.4pt'>
                        <p class=MsoNormal><span lang=RO style='font-size:11.0pt'>Cetăţenie</span></p>
                    </td>
                    <td width=543 colspan=6 valign=top style='width:407.2pt;border:solid black 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
                        <p class=MsoNormal style='layout-grid-mode:char'><span lang=RO
                                style='font-size:11.0pt'>&nbsp;</span></p>
                    </td>
                </tr>
                <tr>
                    <td width=154 valign=top style='width:115.8pt;border-top:none;border-left:
  solid black 1.0pt;border-bottom:solid black 1.0pt;border-right:none;
  padding:0cm 5.4pt 0cm 5.4pt'>
                        <p class=MsoNormal><span lang=RO style='font-size:11.0pt'>Etnie</span></p>
                    </td>
                    <td width=94 valign=top style='width:70.55pt;border-top:none;border-left:
  solid black 1.0pt;border-bottom:solid black 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
                        <p class=MsoNormal style='layout-grid-mode:char'><span lang=RO
                                style='font-size:11.0pt'>&nbsp;</span></p>
                    </td>
                    <td width=60 valign=top style='width:44.8pt;border-top:none;border-left:none;
  border-bottom:solid black 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
                        <p class=MsoNormal style='layout-grid-mode:char'><span lang=RO
                                style='font-size:11.0pt'>CNP</span></p>
                    </td>
                    <td width=389 colspan=4 valign=top style='width:291.85pt;border-top:none;
  border-left:none;border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
                        <p class=MsoNormal style='layout-grid-mode:char'><span lang=RO
                                style='font-size:11.0pt'>&nbsp;</span></p>
                    </td>
                </tr>
                <tr height=0>
                    <td width=154 style='border:none'></td>
                    <td width=94 style='border:none'></td>
                    <td width=60 style='border:none'></td>
                    <td width=23 style='border:none'></td>
                    <td width=107 style='border:none'></td>
                    <td width=154 style='border:none'></td>
                    <td width=105 style='border:none'></td>
                </tr>
            </table>

        </div>

        <p class=MsoNormal><b><span lang=RO style='font-size:11.0pt;color:white'>Locul </span></b><b><span lang=RO
                    style='font-size:11.0pt'>naşterii</span></b></p>

        <div align=center>

            <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=697 style='border-collapse:collapse'>
                <tr>
                    <td width=136 valign=top style='width:101.8pt;border:solid black 1.0pt;
  border-right:none;padding:0cm 5.4pt 0cm 5.4pt'>
                        <p class=MsoNormal><span lang=RO style='font-size:11.0pt'>Ţara</span></p>
                    </td>
                    <td width=240 valign=top style='width:180.2pt;border:solid black 1.0pt;
  border-right:none;padding:0cm 5.4pt 0cm 5.4pt'>
                        <p class=MsoNormal style='layout-grid-mode:char'><span lang=RO
                                style='font-size:11.0pt'>&nbsp;</span></p>
                    </td>
                    <td width=120 valign=top style='width:89.75pt;border:solid black 1.0pt;
  border-right:none;padding:0cm 5.4pt 0cm 5.4pt'>
                        <p class=MsoNormal><span lang=RO style='font-size:11.0pt'>Judeţ/Sector</span></p>
                    </td>
                    <td width=202 valign=top style='width:151.25pt;border:solid black 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
                        <p class=MsoNormal><span lang=RO style='font-size:11.0pt'>&nbsp;</span></p>
                    </td>
                </tr>
                <tr>
                    <td width=136 valign=top style='width:101.8pt;border-top:none;border-left:
  solid black 1.0pt;border-bottom:solid black 1.0pt;border-right:none;
  padding:0cm 5.4pt 0cm 5.4pt'>
                        <p class=MsoNormal><span lang=RO style='font-size:11.0pt'>Localitatea</span></p>
                    </td>
                    <td width=562 colspan=3 valign=top style='width:421.2pt;border:solid black 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
                        <p class=MsoNormal style='layout-grid-mode:char'><span lang=RO
                                style='font-size:11.0pt'>&nbsp;</span></p>
                    </td>
                </tr>
            </table>

        </div>

        <p class=MsoNormal><b><span lang=RO style='font-size:11.0pt'>Date de contact</span></b></p>

        <div align=center>

            <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 style='border-collapse:collapse'>
                <tr>
                    <td width=108 colspan=2 valign=top style='width:81.0pt;border:solid black 1.0pt;
  border-right:none;padding:0cm 5.4pt 0cm 5.4pt'>
                        <p class=MsoNormal><span lang=RO style='font-size:11.0pt'>Telefon fix</span></p>
                    </td>
                    <td width=161 valign=top style='width:120.4pt;border:solid black 1.0pt;
  border-right:none;padding:0cm 5.4pt 0cm 5.4pt'>
                        <p class=MsoNormal style='layout-grid-mode:char'><span lang=RO
                                style='font-size:11.0pt'>&nbsp;</span></p>
                    </td>
                    <td width=127 valign=top style='width:95.6pt;border:solid black 1.0pt;
  border-right:none;padding:0cm 5.4pt 0cm 5.4pt'>
                        <p class=MsoNormal><span lang=RO style='font-size:11.0pt'>Telefon mobil</span></p>
                    </td>
                    <td width=301 valign=top style='width:226.0pt;border:solid black 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
                        <p class=MsoNormal style='layout-grid-mode:char'><span lang=RO
                                style='font-size:11.0pt'>&nbsp;</span></p>
                    </td>
                </tr>
                <tr>
                    <td width=64 valign=top style='width:48.15pt;border-top:none;border-left:
  solid black 1.0pt;border-bottom:solid black 1.0pt;border-right:none;
  padding:0cm 5.4pt 0cm 5.4pt'>
                        <p class=MsoNormal><span lang=RO style='font-size:11.0pt'>E-mail</span></p>
                    </td>
                    <td width=633 colspan=4 valign=top style='width:474.85pt;border:solid black 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'>
                        <p class=MsoNormal style='layout-grid-mode:char'><span lang=RO
                                style='font-size:11.0pt'>&nbsp;</span></p>
                    </td>
                </tr>
                <tr height=0>
                    <td width=64 style='border:none'></td>
                    <td width=44 style='border:none'></td>
                    <td width=161 style='border:none'></td>
                    <td width=127 style='border:none'></td>
                    <td width=301 style='border:none'></td>
                </tr>
            </table>

        </div>

        <p class=MsoNormal style='text-align:justify;line-height:18.0pt'><span lang=RO
                style='font-size:8.0pt'>&nbsp;</span></p>

        <p class=MsoNormal style='text-align:justify'><b><span lang=RO>Prezint și
                    susțin lucrarea de licență/proiectul de diplomă cu titlul: </span></b></p>

        <p class=MsoNormal style='text-align:justify;line-height:150%'><span
                lang=RO>.........................................................................................................................................................................</span>
        </p>

        <p class=MsoNormal style='text-align:justify;line-height:150%'><span
                lang=RO>..........................................................................................................................................................................</span>
        </p>

        <p class=MsoNormal style='text-align:justify'><span lang=EN-US>coordonator </span><span lang=RO>ştiinţific
            </span><span lang=EN-US>………………………………………………………………………………………...</span></p>

        <p class=MsoNormal style='text-align:justify'><span lang=RO style='font-size:
8.0pt'>&nbsp;</span></p>

        <p class=MsoNormal style='text-align:justify'><span lang=RO>Depun la dosarul de
                înscriere: </span></p>

        <p class=MsoNormal style='margin-left:35.7pt;text-align:justify;text-indent:
-17.85pt'><span lang=RO style='font-size:10.0pt;color:black'>-<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span
                lang=RO style='font-size:10.0pt;color:black'>Diploma de bacalaureat - copie certificată
                conform cu originalul (<i>va fi adaugata la dosar de catre secretarul de an</i>);</span></p>

        <p class=MsoNormal style='margin-left:35.7pt;text-align:justify;text-indent:
-17.85pt'><span lang=RO style='font-size:10.0pt;color:black'>-<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span
                lang=RO style='font-size:10.0pt;color:black'>2 fotografii color, pe hârtie
                fotografică, dim.3/4 (<i>vor fi aduse de absolvent la ridicarea adeverintei de
                    licenta</i>);</span></p>

        <p class=MsoNormal style='margin-left:35.7pt;text-align:justify;text-indent:
-17.85pt'><span lang=RO style='font-size:10.0pt;color:black'>-<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span
                lang=RO style='font-size:10.0pt;color:black'>Certificatul de naștere - copie
                certificată conform cu originalul (<i>va fi adaugata la dosar de catre
                    secretarul de an</i>);</span></p>

        <p class=MsoNormal style='margin-left:35.7pt;text-align:justify;text-indent:
-17.85pt'><span lang=RO style='font-size:10.0pt;color:black'>-<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span
                lang=RO style='font-size:10.0pt;color:black'>Certificatul de căsătorie - copie
                certificată conform cu originalul (unde este cazul) (<i>va fi adăugată la dosar
                    de către secretarul de an</i>);</span></p>

        <p class=MsoNormal style='margin-left:35.7pt;text-align:justify;text-indent:
-17.85pt'><span lang=RO style='font-size:10.0pt;color:black'>-<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span
                lang=RO style='font-size:10.0pt;color:black'>Certificatul de competență
                lingvistică - copie certificată conform cu originalul (<i>va fi adăugată la
                    dosar de către secretarul de an</i>);</span></p>

        <p class=MsoNormal style='margin-left:35.7pt;text-align:justify;text-indent:
-17.85pt'><span lang=RO style='font-size:10.0pt;color:#00B050'>-<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span
                lang=RO style='font-size:10.0pt;color:black'>Copie CI</span><i><span lang=RO style='font-size:10.0pt'>
                    (va fi transmisă de absolvent în format electronic);</span></i></p>

        <p class=MsoNormal style='margin-left:35.7pt;text-align:justify;text-indent:
-17.85pt'><span lang=RO style='font-size:10.0pt;color:#00B050'>-<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span
                lang=RO style='font-size:10.0pt;color:black'>Declarația pe propria răspundere
                că lucrarea de licenţă este rezultatul muncii mele</span><span lang=RO style='font-size:10.0pt'>
            </span><i><span lang=RO>(</span></i><i><span lang=RO style='font-size:10.0pt'>va fi transmisă de absolvent
                    în format electronic);</span></i></p>

        <p class=MsoNormal style='margin-left:35.7pt;text-align:justify;text-indent:
-17.85pt'><span lang=RO style='font-size:10.0pt;color:#00B050'>-<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span
                lang=RO style='font-size:10.0pt;color:black'>Lucrarea de licență/proiectul de
                diplomă și referatul coordonatorului științific (<b>în format pdf</b>)</span><span lang=RO
                style='font-size:10.0pt'> <i>(vor fi transmise de absolvent);</i></span></p>

        <p class=MsoNormal style='margin-left:35.7pt;text-align:justify;text-indent:
-17.85pt'><span lang=RO style='font-size:10.0pt;color:#00B050'>-<span
                    style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span
                lang=RO style='font-size:10.0pt'>Fișa de lichidare <i>(va fi transmisă de
                    absolvent în format electronic);</i></span></p>

        <p class=MsoNormal style='margin-left:17.85pt;text-align:justify'><span lang=RO>&nbsp;</span></p>

        <p class=MsoNormal style='text-align:justify;text-indent:17.85pt;line-height:
115%'><b><span lang=RO style='line-height:115%'>Declarația absolventului:</span></b></p>

        <p class=MsoNormal style='text-align:justify;text-indent:17.85pt;line-height:
115%'><span lang=RO>Am luat cunoștință de informarea privind protecția datelor
                cu caracter personal (accesibilă la:  <a
                    href="https://unibuc.ro/wp-content/uploads/2020/06/Informare-examene-de-finalizare-a-studiilor.pdf">https://unibuc.ro/wp-content/uploads/2020/06/Informare-examene-de-finalizare-a-studiilor.pdf</a>.)</span>
        </p>

        <p class=MsoNormal style='text-align:justify;text-indent:17.85pt;line-height:
115%'><span lang=RO style='line-height:115%'>&nbsp;</span></p>

        <p class=MsoNormal style='text-align:justify;line-height:150%'><span lang=RO
                style='font-size:8.0pt;line-height:150%'>&nbsp;</span></p>

        <div align=center>

            <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=660
                style='width:495.0pt;border-collapse:collapse'>
                <tr>
                    <td width=338 valign=top style='width:253.75pt;padding:0cm 5.4pt 0cm 5.4pt'>
                        <p class=MsoNormal style='text-align:justify;line-height:12.0pt'><span lang=RO>              
                                    Data,</span></p>
                        <p class=MsoNormal style='text-align:justify;line-height:12.0pt'><span lang=RO>&nbsp;</span></p>
                    </td>
                    <td width=322 valign=top style='width:241.25pt;padding:0cm 5.4pt 0cm 5.4pt'>
                        <p class=MsoNormal style='line-height:12.0pt'><span lang=RO>                                   
                                Semnătura,</span></p>
                    </td>
                </tr>
                <tr>
                    <td width=338 valign=top style='width:253.75pt;padding:0cm 5.4pt 0cm 5.4pt'>
                        <p class=MsoNormal style='text-align:justify;line-height:12.0pt'><span
                                lang=RO>…………………………….</span></p>
                    </td>
                    <td width=322 valign=top style='width:241.25pt;padding:0cm 5.4pt 0cm 5.4pt'>
                        <p class=MsoNormal align=right style='text-align:right;line-height:12.0pt'><span
                                lang=RO>……………………………………..</span></p>
                    </td>
                </tr>
            </table>

        </div>

        <p class=MsoNormal style='text-align:justify;line-height:12.0pt'><span lang=RO>&nbsp;</span></p>

        <p class=MsoNormal style='text-align:justify;line-height:12.0pt'><b><span lang=RO>&nbsp;</span></b></p>

    </div>

</body>

</html>