<html>
    <head>
        <title>Declarație pe proprie răspundere</title>
    </head>
    <body>
        <p class="teacher-approval">
            Avizul profesorului coordonator __________________
        </p>
        <h1>Declarație</h1>
        <p class="main">
            Subsemnatul/Subsemnata <b><%= student.user.lastName %> <%= student.user.firstName %></b>, candidat la examenul de 
            <b>licență/diplomă</b>, sesiunea iulie 2021, la <b>Facultatea de Matematică şi Informatică</b>, 
            programul de studii <%= student.domain.name %>, declar pe propria răspundere că lucrarea de faţă 
            este rezultatul muncii mele, pe baza cercetărilor mele şi pe baza informaţiilor
            obţinute din surse care au fost citate şi indicate, conform normelor etice, în note şi în bibliografie.
            Declar că nu am folosit în mod tacit sau ilegal munca altora şi că nici o parte din teză nu încalcă drepturile de
            proprietate intelectuală ale altcuiva, persoană fizică sau juridică. Declar că lucrarea nu a mai fost prezentată
            sub această formă vreunei instituţii de învăţământ superior în vederea obţinerii unui grad sau titlu ştiinţific ori
            didactic.
        </p>
        <div class="footer-container">
            <p class="col">
                <span>Data</span> <br>
                <span> <%= date %></span>
            </p>

            <p class="col">
                <span>Semnătura</span> <br>
                <span>_________________</span>
            </p>
        </div>
    </body>
</html>

<style>
    body {
        font-family: 'Times New Roman', Times, serif;
        font-size: 18px;
        margin: 2cm;
    }

    .teacher-approval {
        text-align: right;
        margin-bottom: 1cm;
    }

    h1 {
        text-align: center;
    }

    p.main {
        text-align: justify;
        
    }

    .footer-container {
        display: flex;
        margin-top: 1cm;
    }

    .footer-container .col {
        flex: 1;
        text-align: center;
        line-height: 1cm;
    }
</style>