<% const header = include('./partials/email_header', { text: `Salutare, ${studentUser.firstName} ${studentUser.lastName}!`}) %>
<% const button = include('./partials/email_button', { text: "Lucrarea mea", url }); %>
<%- include('./partials/email_body', { subject: "Asociere acceptată", body: `
  ${ header }
  <p>
    Vești bune! Profesorul ${teacherUser.firstName} ${teacherUser.lastName} 
    a acceptat cererea dvs. de asociere cu titlul „${application.title}”.
  </p>
  <p>
    Accesați următorul link pentru a afla mai multe:
  </p>
  ${ button }
` }) %>
