<% const header = include('./partials/email_header', { text: `Salutare, ${studentUser.firstName} ${studentUser.lastName}!`}) %>
<% const button = include('./partials/email_button', { text: "Vedeți ofertele", url }); %>
<%- include('./partials/email_body', { subject: "Asociere respinsă", body: `
  ${ header }
  <p>
    Din păcate, profesorul ${teacherUser.firstName} ${teacherUser.lastName} 
    a respins cererea dvs. de asociere cu titlul „${application.title}”.
  </p>
  <p>
    Vizualizați alte oferte accesând link-ul de mai jos:
  </p>
  ${ button }
` }) %>
