<% const header = include('./partials/email_header', { text: `Tichet nou de la ${user.firstName} ${user.lastName} (${report.email})`}) %>
<% 
  const PROBLEM_TYPES = {
    data: "Inadvertențe ale datelor",
    feedback: "Feedback",
    bug: "Raportare de probleme tehnice",
    question: "Întrebări cu privire la platformă",
  }  
%>
<%- include('./partials/email_body', { subject: "Tichet nou", body: `
  ${header}
  <p style="border-left: 3px solid #e0e0e0; padding-left: 8px">
    <b>${PROBLEM_TYPES[report.type]}</b><br>
    <i>${report.description}</i>
  </p>
` }) %>
