<% const header = include('./partials/email_header', { text: `Bună ziua, ${teacherUser.firstName} ${teacherUser.lastName}!`}) %>
<% const button = include('./partials/email_button', { text: "Răspundeți cererii", url }); %>
<% const usedTechnologies = application.usedTechnologies ? `
  <span style="margin-top: 12px; display: block;">
    Tehnologii folosite: <i>${application.usedTechnologies}</i>
  </span>
` : '' %>
<%- include('./partials/email_body', { subject: "Cerere de asociere nouă", body: `
  ${ header }
  <p>
    Aveți o nouă cerere de asociere de la ${studentUser.firstName} ${studentUser.lastName}!
  </p>
  <p style="border-left: 3px solid #e0e0e0; padding-left: 8px">
    <b>${application.title}</b><br>
    <i>${application.description}</i>
    ${ usedTechnologies }
  </p>
  <p>
    Dacă aveți întrebări suplimentare legate de tema studentului, îl puteți contacta la adresa  
    <a href="mailto:${studentUser.email}" target="_blank" style="font-weight: 600; text-decoration: none; color: #1757a6">
      ${studentUser.email}
    </a>
    sau dând reply acestui e-mail.
  </p>
  <p>
    Răspundeți cererii de asociere accesând link-ul de mai jos:
  </p>
  ${ button }
` }) %>
