<% const header = include('./partials/email_header', { text: `Salutare, ${studentUser.firstName} ${studentUser.lastName}!`}) %>
<% const button = include('./partials/email_button', { text: "Găsiți alt profesor", url }); %>
<%- include('./partials/email_body', { subject: "Asociere ruptă", body: `
  ${ header }
  <p>
    Din păcate, profesorul ${teacherUser.firstName} ${teacherUser.lastName} 
    a rupt asocierea cu dumneavoastră.
  </p>
  <p>
    Vizualizați alte oferte accesând link-ul de mai jos:
  </p>
  ${ button }
` }) %>
