<% const header = include('./partials/email_header', { text: `Bună ziua, ${user.firstName} ${user.lastName}!`}) %>
<% const button = include('./partials/email_button', { text: "Resetați parola", url }); %>
<%- include('./partials/email_body', { subject: "Resetați parola", body: `
  ${ header }
  <p>
    Am primit o solicitare de resetare a parolei pentru contul asociat acestui e-mail. <br>
    În cazul în care nu dvs. ați făcut această solicitare, puteți ignora acest mesaj.
  </p>
  ${ button }
` }) %>