<% const header = include('./partials/email_header', { text: `Bun venit, ${user.firstName} ${user.lastName}!`}) %>
<% const button = include('./partials/email_button', { text: "Activați contul", url }); %>
<%- include('./partials/email_body', { subject: "Activați contul dvs.", body: `
  ${ header }
  <p>
    Ați fost înscris în Platforma de asociere între studenți și profesori cordonatori a
    Facultății de Matematică și Informatică din cadrul Universității din București.
  </p>
  <p>
    Pentru a finaliza înregistrarea, este nevoie să apăsați pe link-ul de mai jos:
  </p>
  ${ button }
` }) %>
