<div style="
    display: flex;
    flex-wrap: wrap; 
    width: 30cm; 
    font-size: 12px; 
    font-family: 'Liberation Serif', 'Times New Roman', Times, serif;
    box-sizing: border-box;
    margin: 0 1cm;
    margin-bottom: 1cm;
    justify-content: flex-end;"
>
    <% 
        for(person of people) {
    %>
    <div style="width: 50%;">
        <p style="text-align: center;">
            <%= person.position %>, <br>
            <%= person.name %>
        </p>
        <%- person.stamp ? '<b>L.S.</b>' : '' %>
    </div>
    <% } %>
</div>