<div style="
    display: flex;
    flex-wrap: wrap; 
    width: 28cm; 
    font-size: 12px; 
    font-family: 'Liberation Serif', 'Times New Roman', Times, serif;
    box-sizing: border-box;
    margin: 0 1cm;
    justify-content: flex-end;"
>
    <div style="width: 50%;">
        <p style="text-align: center;">
            <%= person.position %>, <br>
            <%= person.name %>
        </p>
    </div>
    <div style="width: 50%;">
        <p style="text-align: center;">
            <%= person.position %>, <br>
            <%= person.name %>
        </p>
    </div>
    <div style="width: 50%;">
        <p style="text-align: center;">
            <%= person.position %>, <br>
            <%= person.name %>
        </p>
    </div>
</div>