<div style="color: rgba(0, 0, 0, 0.6); text-align: left; margin-top: 12px; font-size: 13px; line-height: 16px;">
    <p>
        <b>Facultatea de Matematică și Informatică</b> <br>
        Universitea din București
    </p>
</div>