<table width="100%" border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
  <tr>
    <td>
      <table border="0" cellspacing="0" cellpadding="0" style="margin: auto; width: 100%;">
        <tr>
          <td align="center" style="border-radius: 4px;" bgcolor="#1B864A">
            <a
              href="<%= url %>" target="_blank"
              class="email-button"
              style="
                color: #ffffff;
                text-decoration: none;
                border-radius: 4px;
                padding: 10px 32px;
                border: 1px solid #1757a6;
                background-color: #1757a6;
                display: block;
                text-align: center;
              "
            >
              <b><%= text %></b>
            </a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>