<table
    width="100%" border="0" cellspacing="0" cellpadding="0" valign="middle"
    style="text-align: left; width: 100%;"
>
  <tr>
    <td>
      <table border="0" cellspacing="0" cellpadding="0" style="margin: auto; width: 100%;">
        <tr>
          <td align="left" width="260" height="64">
            <img
                id="logo-normal"
                src="https://fmi.unibuc.ro/wp-content/uploads/2020/05/sigla-fmi-1.png"
                alt="OGOR"
                width="260"
                height="64"
                style="width: 260px; height: 64px; max-width: 260px; max-height: 64px;"
            />
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>