<div class="footer">
    <div class="centered">Facultatea de Matematică și Informatică, Universitea din București</div>
</div>

<style>
    .footer {
        color: rgb(105, 105, 105);
        font-size: 12px;
    }
</style>